<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/art_design_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{98,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,67}</string>
            </dict>
            <key>images/art_design_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,206},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>images/art_design_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>images/art_design_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,44},{32,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>images/art_design_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,44},{73,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,11}}</string>
                <key>sourceSize</key>
                <string>{73,11}</string>
            </dict>
            <key>images/art_design_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,94},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>images/art_design_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,74},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>images/art_design_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/art_design_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/art_design_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/art_design_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gravity-folder.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f92674618d66a1336141ba1e8c24126:1/1$</string>
            <key>textureFileName</key>
            <string>gravity-folder.png</string>
        </dict>
    </dict>
</plist>
